@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');





.bb-header-top {
background-color: #290504;
width: 100%;
top:0;
position: fixed;
height:100px;
z-index: -1;
}




.bb-navbar {
	background-color: #5c1d25;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	text-transform:uppercase;
	height: auto;
	-webkit-transition: all ease-out .25s;
-moz-transition: all ease-out .25s;
transition: all ease-out .25s;
padding-top: 50px;


}
.bb-navbar.shrink {
	margin-top: 0;
	padding-top: 0;
}


/* Underline From Left */
.bb-navbar-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

}


.bb-navbar-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #F2A942;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.bb-navbar-link:hover:before, .bb-navbar-link:focus:before, .bb-navbar-link:active:before {
  right: 0;
}

.bb-results {
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.bb-results-text {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	color: #f1a906;

}

.bb-results-nextmatch-content {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	color: #290504;
	clear: none;
	margin-bottom: 20px;
	background-color: #F2A942;
	background-image: -webkit-linear-gradient(-45deg, #F2A942 50%, #F2CB96 50%);
	min-height: 401px;

}
.bb-results-text h1 {
	letter-spacing: -2px;
	font-weight: 800;
	display: inline-block;
	background:url('../img/brush-stroke1.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
padding: 20px 0;

}
.bb-results-score {
	font-size: 28px;
	font-weight: 400;
	opacity: 0;

}
.bb-results-text img {
height: 50px;
margin: 0 10px;
}

.img-portfolio {
	opacity: 0;
}

.bb-results-tabs {
	font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
}

.bb-results-tabs li > a {
	border-radius: 0;
	background-color: #290504;
	color:#F2A942;
	-webkit-transition: all ease-out .25s;
-moz-transition: all ease-out .25s;
transition: all ease-out .25s;
margin-right: 0;
border: 0;
}

.bb-results-tabs li > a:focus {
	background-color: #290504 !important;
	color:#F2A942;
	border: 0;
}
.bb-results-tabs li.active > a {
	background-color: #F2A942 !important;
	color:#290504;
	border: 0;
}
.bb-results-tabs li > a:hover {
	background-color: #5C1D25 !important;
	color:#F2A942;
	border: 0;
}
.bb-results-tabs li.active > a:focus {
	background-color:  #F2A942 !important;
	color:#290504;
	border: 0;
}
.bb-results-tabs li.active > a:hover {
	background-color:  #F2CB96 !important;
	color:#290504;
	border: 0;
}

.bb-results-link-icon-beavers::before {
content: "";
display: block;
background: url('../img/tab-beavers.png') no-repeat;
width: 35px;
height: 24px;
float: left;
margin: 0 6px 0 0;
background-size: cover;
}
.bb-results-link-icon-bobcats::before {
content: "";
display: block;
background: url('../img/tab-bobcats.png') no-repeat;
width: 29px;
height: 24px;
float: left;
margin: 0 6px 0 0;
background-size: cover;
}

.bb-nextmatch{
color: #290504;
padding:30px 0;
}
.bb-nextmatch-img  {
	max-height: 220px;

}
.bb-nextmatch-vs img {
	max-height: 110px;
	margin-top: 100px;

}
.bb-nextmatch-text {
	font-family: 'Fugaz One',sans-serif;
	line-height: 1.2em;
}

.bb-league-table {
	font-size: 12px;
	text-align: left;
	margin: auto;
width: 90%;
}

.bb-nextmatch-container {
	margin: 0 40px;

}
